li {
    padding: 8px;
}

#twitchMessage {
    list-style: none;
    padding-left: 0;
    color: purple;
}

li#twitchMessage::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    background-size: cover;
    background-position: center;
}

#messagesComp {
    width: 70%;
}

body {
    background-color: grey;
    color: black;
}
